<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Predicting students' performance using demographic, personal, social, and parental features</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Student's performance predictor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Exploration</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Machine learning</a></li>
                        <li class="nav-item"><a class = "nav-link" href="#Conclusion">Conclusion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Predicting students' performance using demographic, personal, social, and parental features</h1>
                <p class="lead">Emma Chen - AI Camp DS Crash Course</p>
                <a class="btn btn-lg btn-light" href="#about">See our work below</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>What does the project do?
                        </h2>
                        <p class="lead">Due to the advancement of technology and availability of data, it makes possible for educators and policymakers to understand students’ behavior, keep track of their progress, and further support their learning experiences. To this end, we aim to explore the factors that affect students’ academic performance and further predict their achievement. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading">Exploration</h1><br/>
                    </div>
                    <div class="col-lg-8">
                        <h3>Data Overview</h3>
                        <p class="lead">The <a href="https://archive.ics.uci.edu/ml/datasets/Student+Performance">datasets</a> are retrieved from UCI machine learning repository, containing 1044 observations and 32 columns in total. The combined two datasets are students’ performance in Mathematics and Portuguese language. It includes demographic, personal, social, and parental features that may play a role in their achievement. Each observations represent a student and includes both numeric and categorical data. It has no missing values and three response variables: G1, G2, and G3. It represents a student’s performance for term 1, term 2, and term 3. </p>
                    <iframe width="900" height="900" title="Numeric Variables" src="{{url_for('static', filename='numeric.png')}}"></iframe> <br>
                    <iframe width="900" height="900" title="Categorical Vairables" src="{{url_for('static', filename='categorical.png')}}"></iframe> <br>
                    </div>
                    <div class="col-lg-8">
                        <h3>Exploration of data: Grade Distribution</h3>
                        <p class="lead">Scatterplots clearly demonstrate to us more positive and negative trends in our data. Most surprising to us is that as agricultural goes to zero, GDP becomes exponentially higher.</p>
                        <iframe width="700" height="700" title="Bar graph of grade distribution" src="{{url_for('static', filename='GradeDistribution_bar.html')}}"></iframe> <br><br>
                    </div>
                    <div class="col-lg-8">
                        <h3>Data Cleaning</h3>
                        <p class="lead">Scatterplots clearly demonstrate to us more positive and negative trends in our data. Most surprising to us is that as agricultural goes to zero, GDP becomes exponentially higher.</p>
                    </div>
                    <div class="col-lg-8">
                        <h3>Exploration of data: Grade Distributions</h3>
                        <p class="lead">We isolated the above features that we saw as most important and turned them into their own correlation table, so that we can see how these crucial features affect wealth.</p>
                        <iframe width="800" height="800" title="Crucial Features Hetmap" src="{{url_for('static', filename='GradeDistribution_pie.html')}}"></iframe>  
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h1>Machine Learning</h1></br>
                        <p class="lead">We will be using Logistic Regression as the baseline model and following random forest and XGBoost in predicting students’ performance for term 1, term 2, and term3. Along with a Grid search to tune the hyperparameters, parameter details for each model will be provided below. As for evaluating the performance of models, we will be using the confusion matrix.</p>
                    </div>
                    <div class="col-lg-8">
                        <h2>Logistic Regression: Explanation</h2>
                        <p class="lead">Logistic Regression is one of the simplest and basic machine learning models for binary classification with great interpretability. It correlates all features with the response variable through a linear relationship. To this end, it is common that it serves as a baseline model for most machine learning projects.</p>
                    </div>

                    <div class="col-lg-8">
                        <h2>Linear Regression: Results</h2>
                        <iframe width="500" height="500" title="Logistic Regression Confusion Matrix1" src="{{url_for('static', filename='lr1.png')}}"></iframe>  
                        <iframe width="500" height="500" title="Logistic Regression Confusion Matrix2" src="{{url_for('static', filename='lr2.png')}}"></iframe>  
                        <iframe width="500" height="500" title="Logistic Regression Confusion Matrix3" src="{{url_for('static', filename='lr3.png')}}"></iframe>  

                    </div>
                    <div class="col-lg-8">
                        <h2>Random Forest: Explanation</h2>
                        <p class="lead">Random Forest is an ensemble method that combines and implements the concepts of bagging and Decision Tree, where different bootstrap samples from the training data are fitted with Decision Trees. At each node, random feature subsets are derived from deciding upon the optimal split to reduce variance and improve accuracy. </p>
                    </div>

                    <div class="col-lg-8">
                        <h2>Random Forest: Results</h2>
                        <iframe width="500" height="500" title="Random Forest Confusion Matrix1" src="{{url_for('static', filename='rf1.png')}}"></iframe>  
                        <iframe width="500" height="500" title="Random Forest Confusion Matrix2" src="{{url_for('static', filename='rf2.png')}}"></iframe>  
                        <iframe width="500" height="500" title="Random Forest Confusion Matrix3" src="{{url_for('static', filename='rf3.png')}}"></iframe>
                    </div>
                    <div class="col-lg-8">
                        <h2>XGBoost: Explanation</h2>
                        <p class="lead">Xgboost is also an ensemble that combines the outputs from individual trees. It uses boosting by combining weak learners sequentially so that each new tree corrects the errors of the previous one, and this process continues until no further improvements can be made.</p>
                    </div>
                    <div class="col-lg-8">
                        <h2>XGBoost: Results</h2>
                        <iframe width="500" height="500" title="XGBoost Confusion Matrix1" src="{{url_for('static', filename='xgb1.png')}}"></iframe>  
                        <iframe width="500" height="500" title="XGBoost Confusion Matrix2" src="{{url_for('static', filename='xgb2.png')}}"></iframe>  
                        <iframe width="500" height="500" title="XGBoost Confusion Matrix3" src="{{url_for('static', filename='xgb3.png')}}"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="Conclusion">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading">Conclusion</h1><br/>
                    </div>
                    <div class="col-lg-8">

                        <p class="lead">Surprisingly, logistic regression as a baseline model is the best model compared to random forest and XGBoost. It has an overall higher accuracy and f1 score in predicting the three response variables. Also, as each model’s performance enhances from terms 1, 2, to 3, it is reasonable to assume that a student’s score in previous terms is an important indicator of future performances. There is a correlation between students’ performance between term 1, term 2, and term3.</p>

                        <h3>So what?</h3>
                            
                        <p class="lead">As we gained an understanding that students’ performance in past terms serves as an indicator of future performances, it is crucial for educators to keep track and support those who fall behind. </p>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-left: 80px; margin-right: 80px;" id="team">
        <header class="bg-primary text-center py-5 mb-4">
            <div class="container px-4">
              <h1 class="fw-light text-white">Meet the Extraordinary AI Camp Team</h1>
            </div>
          </header>
          
          <!-- Page Content -->
          <div class="container px-4">
            <div class="row">
              <!-- Team Member 1 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{url_for('static', filename='images/rohan_img.png')}}" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Rohan Joshi</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 2 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{url_for('static', filename='images/alex_duffy_img.png')}}" height="330" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alex Duffy</h5>
                    <div class="card-text text-black-50">Instructor</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 3 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{url_for('static', filename='images/mitchell_img.png')}}" height="350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Mitchell Cutts</h5>
                    <div class="card-text text-black-50">Instructor</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 4 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{url_for('static', filename='images/cameron_jackson_img.jfif')}}" height="250" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Cameron Jackson</h5>
                    <div class="card-text text-black-50">Data Scientist</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          
          </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; AI Camp 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
2>
